@import '../../root.css';

.workshop-page-container {
    height: 100vh;
    background-color: var(--primary-color);
}

.workshop-page-title {
    color: var(--font-black);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 56px;
}

.workshop-page-cards-container {
    position: relative;
    margin-top: 80px;
}
