@import '../../index.css';

.mentor-name {
    font-size: 26px;
    color: var(--font-black);
    padding-bottom: 16px;
}

.develop-page-title {
    color: var(--font-black);
    font-weight: bold;
    font-size: 40px;
    padding: 24px 0 56px 24px;
}
