@import '../../root.css';

.representative-page-container {
    height: 100vh;
    background-color: var(--primary-color);
}

.representative-page-title {
    color: var(--font-black);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 56px;
}

.representative-cards-container {
    position: relative;
    margin-top: 80px;
}

.representative-card-component-image {
    width: 120px;
    height: 120px;
}
