/* Custom properties */
:root {
    /* Theme colors */
    --primary-color: white;
    --accent-color: #00a6fb;

    /* Font colors */
    --font-white: white;
    --font-black: black;
}

/* @font-face declarations */
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    font-weight: bold;
    font-style: normal;
}
